<!DOCTYPE html>
<html>
  <head>
    <title>Mind Mate</title>
    <meta charset="utf-8" />
    <link rel="icon" href="static/icons//favicon.svg" type="image/svg+xml">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Livvic:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="static\css\style.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img src="static/icons/techlabs-logo.png" style="width: 100px;margin-right:10px;"/>
        <h4>Mind Mate</h4>
      </div>
      <div class="chatbox">
        <div class="chatlogs">
          <div class="chat bot">
            <div class="chat-photo">
              <img src="static/icons/doctor.svg" class="icon-img" />
            </div>
            <p class="chat-message">Hello, how can I help you today?</p>
          </div>
         <!--  <div class="chat user">
            <div class="user-photo">
              <img src="static/icons/user-regular.svg" class="icon-img" />
            </div>
            <p class="chat-message">
              I'm looking for a good therapist nearby. Can you recommend one?
            </p>
          </div> -->
        </div>
        <div class="chat-form">
          <form>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Type your message..."
              />
              <div class="input-group-append">
                <button type="submit" class="btn btn-primary">
                  <img
                    class="icon-img"
                    src="static/icons/send.svg"
                    style="width: 20px; height: 20px; margin: 2px"
                  />
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript"
    src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>



